<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
    <style>
        body{
            text-align:center;
            font-size:large;
            border: 2px solid black;
            width:500px;
            margin:auto;
            padding: 10px;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center ; ">register</h1>
    <form action="/submit" method="post" style="border: 2px solid black; padding: 10px;">
        <label for="fname">enter ur first name:</label>
        <input type="text" name="fname"><br><br>
        <label for="lname">enter ur last name:</label>
        <input type="text" name="lname"><br><br>
        <label for="age">enter ur age:</label>
        <input type="number" name="age"><br><br>
        <label for="phno">enter ur phno:</label>
        <input type="number" name="phno"><br><br>
        
        <input type="submit" value="register"><br>


    </form>
    
</body>
</html>